<br>
<div class="container">
  <div class="row">
    <div class="col-4">
      <!-- Empty div -->
    </div>
    <div class="col-4">
      <div class="row">
        <div>
          <h1 id="burgerTitle">
            <strong>EAT DA BURGER</strong>
          </h1>
          <div>
            <img src="/assets/img/burger.PNG" alt="burger-image">
          </div>
          <div>
            <button id="burgerSubmit" type="submit">
              Add Burger :
            </button>
            <span>
              <input style="text-align:center" type="text" id="ca" placeholder="Enter Your Order Here" name="burger_name">
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <!-- Empty div -->
    </div>
  </div>

  <br>
  <hr>
  <br>

  <div class="row">
    <div class="col-4">
      <!-- Empty div -->
    </div>
    <div class="col-4">
      <h2 class="jumbotron" id="burgerBox">Burger List!</h2>
    </div>
    <div class="col-4">
      <!-- Empty div -->
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-2">
      <!-- Empty div -->
    </div>
    <div class="col-4">
      <h4 class="devouredTitle">Burgers that are not devoured!</h4>
      <ol>
        {{#each burgers}} {{#unless burger_devoured}} {{> burgers/burger-block hungry=true}} {{/unless}} {{/each}}
      </ol>
    </div>
    <div class="col-4">
      <h4 class="devouredTitle">Burgers that are devoured!</h4>
      <ol>
        {{#each burgers}} {{#if burger_devoured}} {{> burgers/burger-block hungry=false}} {{/if}} {{/each}}
      </ol>
    </div>
    <div class="col-2">
      <!-- Empty div -->
    </div>
  </div>
</div>