* {
    box-sizing: border-box;
}

body {
    background-color: #f41b35;
    color: #ffcd60;
    font-family: 'Anton', sans-serif;
}

#burgerTitle {
    font-size: 60px;
    margin: 10px;
    padding: 5px;
    -webkit-text-stroke: black 3px;
}

#burgerSubmit {
    margin-right: 10px;
    margin-left: 50px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 280px;
}

hr {
    width: 100%;
    background-color: #ffcd60;
    height: 2px;
}

li {
    margin-top: 2px;
}

#burgerBox {
    background-color: black;
    padding: 5px;
    text-align: center;
}

.devouredTitle {
    border-bottom: 1px solid black;
    padding-bottom: 3px;
}

input {
    text-align: center;
}

h4 {
    -webkit-text-stroke: black 2px;
}

#notHighlight {
    color: black;
    -webkit-text-stroke: #ffcd60 1px;
}

.roundedElement {
    border-radius: 5%;
}