body {
    background-color: #f41b35;
    color: #ffcd60;
    font-family: 'Anton', sans-serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr {
    width: 300px;
}

.container {
    margin-left: 10px;
    margin-right: 10px;
}

li {
    margin-top: 2px;
}