* {
    box-sizing: border-box;
}

body {
    background-color: #f41b35;
    color: #ffcd60;
    font-family: 'Anton', sans-serif;
}

#burgerTitle {
    font-size: 60px;
    margin: 10px;
    padding: 5px;
}

#burgerSubmit {
    margin-right: 10px;
    margin-left: 50px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 240px;
}

hr {
    width: 100%;
    background-color: #ffcd60;
}

li {
    margin-top: 2px;
}

#burgerBox {
    background-color: black;
    padding: 5px;
    text-align: center;
}

.devouredTitle {
    text-decoration: underline;
}

input {
    text-align: center;
}